<script>
    document.getElementById('year').innerText = new Date().getFullYear();

    // document.getElementById("sideBar-a").
    // document.getElementsByTagName('textarea').value.re
</script>
</body>

</html>