<%- include("./partials/head") %>
<body>
    <%- include('./partials/nav') %>
    <main class="mainAbout">
        <h1>about us:</h1>
        <br>
        <p>multipurpose blogging application for <span>private</span>, <span>public</span>, and <span>business</span> use </p>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>


<!-- <p>we provide a plateform for users to display their blogs</p>
<br><br>
<p>private | </span>public<span> | </span>business</p> -->