<%- include("./partials/head") %>
<body>
    <%- include("./partials/nav") %>
    <main class="mainHome">
        <h1>Welcome to <span>blogg</span></h1>
        <div>
            <a href="/register">Create Account</a>
            <a>Sign In</a>
        </div>
    </main>
    <%- include('./partials/footer') %>
    <%- include('./partials/script') %>
</body>

</html>